@if (!isAdminRoute()) {
  <app-header></app-header>
}
<router-outlet></router-outlet>
<app-toast-container></app-toast-container>

@if (guestPopup.isOpen() && !isAdminRoute()) {
  <app-register-popup></app-register-popup>
}
@if (guestPopup.isOAuthTermsOpen()) {
  <app-oauth-terms-popup></app-oauth-terms-popup>
}
@if (guestPopup.isTwoFactorOpen()) {
  <app-two-factor-popup (completado)="onTwoFactorCompletado()"></app-two-factor-popup>
}
@if (guestPopup.isAccountTypeOpen()) {
  <app-account-type-popup
    (completado)="guestPopup.closeAccountTypePopup()"
  ></app-account-type-popup>
}
