<div class="auth-container">
  <div class="auth-card">
    <div class="brand-header">
      <img src="/logo.webp" alt="Nexus Logo" class="logo" />
      <h2>Crear Nueva Contraseña</h2>
    </div>

    @if (errorMessage()) {
      <div class="banner error fade-in mb-6">
        <i class="fas fa-exclamation-circle"></i> {{ errorMessage() }}
      </div>
      <div class="text-center mt-4">
        <a routerLink="/forgot-password" class="btn-primary w-full">Solicitar nuevo enlace</a>
      </div>
    } @else {
      <p class="subtitle text-center mb-6">
        Por favor, introduce tu nueva contraseña a continuación.
      </p>

      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Nueva Contraseña</label>
          <input
            type="password"
            formControlName="password"
            placeholder="Mín. 8 caracteres, 1 mayús., 1 núm."
            [class.error]="f['password'].invalid && f['password'].touched"
          />
        </div>

        <div class="form-group has-icon-right">
          <label>Confirmar Nueva Contraseña</label>
          <input
            type="password"
            formControlName="confirmar"
            placeholder="Repite tu contraseña"
            [class.error]="f['confirmar'].invalid && f['confirmar'].touched"
            [class.success]="f['confirmar'].valid && f['confirmar'].value"
          />

          @if (f['confirmar'].value) {
            <span class="icon-right status-icon">
              @if (f['confirmar'].valid) {
                <i class="fas fa-check-circle text-green"></i>
              }
              @if (f['confirmar'].invalid) {
                <i class="fas fa-times-circle text-red"></i>
              }
            </span>
          }
        </div>

        <button
          type="submit"
          class="btn-primary w-full mt-4"
          [disabled]="resetForm.invalid || isLoading()"
        >
          @if (!isLoading()) {
            <span>Restablecer Contraseña</span>
          } @else {
            <i class="fas fa-spinner fa-spin"></i>
          }
        </button>
      </form>
    }

    <div class="auth-footer mt-6 text-center">
      <a routerLink="/login" class="btn-link text-nexus-blue"> Volver a Iniciar Sesión </a>
    </div>
  </div>
</div>
